<% provide(:title, 'Contact') %>
<h1>Contact</h1>

<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6">
		<p>
		Email or talk to Logan for help.
		</p>
	</div>
	<div class="col-md-3"></div>
</div>
