<div class="center jumbotron">
  <h1>Welcome to 3501 Scouting</h1>

  <h2>
    This is the home page for the FRC team #3501 scouting system.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>

  <%= link_to "New match", newmatch_path, class: "btn btn-large btn-primary" %>
</div>
