<li>
	<span class="content">
		<%= note.content %>
	</span>
	<small>
		<span class="timestamp">
			Created at <%= note.created_at %> by <%= User.find_by(email: note.match.scouter_email).name %>
		</span>
	</small>
</li>
