<li>
	<%= link_to "#{match_type_to_words match.match_type} match ##{match.id}", match %>
	--
	<%= link_to "team scouted: #{match.team_number}", match.team %>
	--
	scouted by:
	<%= link_to (User.find_by email: match.scouter_email).name, (User.find_by email: match.scouter_email) %>
</li>
