/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

@font-face {
  font-family: "Source Sans Pro";
  src: font-url('source_sans_pro/SourceSansProRegular.otf');
  font-weight: normal;
}

@font-face {
  font-family: "Source Sans Pro";
  src: font-url('source_sans_pro/SourceSansProBold.otf');
  font-weight: bold;
}

@font-face {
  font-family: "Source Sans Pro";
  src: font-url('source_sans_pro/SourceSansProIt.otf');
  font-style: italic;
}

@font-face {
  font-family: "Source Sans Pro";
  src: font-url('source_sans_pro/SourceSansProBoldIt.otf');
  font-weight: bold;
  font-style: italic;
}

* {
  font-family: "Source Sans Pro", sans-serif !important;
}

html {
  overflow-y: scroll;
  height: 100%;
}

body {
  padding-top: 60px;
  height: 100%;
}

.container {
  min-height: 100%;
}

.footer {
  height: 40px;
  margin-top: -43px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.justify {
  text-align: justify;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  small {
    float: left;
    margin-left: 20px;
    margin-top: 7px;
  }
  ul {
    float: right;
    list-style: none;
    margin-right: 20px;
    margin-top: 5px;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $gray-lighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}


/* forms */

// orange is #df691a
// the background is #

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  color: #333333; // dark gray
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $gray-lighter;
    &:last-child {
      border-bottom: 1px solid $gray-lighter;
    }
  }
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/* match page style */

label.large-label {
  font-size: 150%;
}
input.slide {
  width: 100% !important;
}
.no-bold {
  font-weight: normal !important;
}
label.separate {
  margin: 0px 10px 0px;
}
input.separate {
  margin: 10px 0px 10px;
}

div.separate {
  input {
    margin: 10px 0px 10px;
  }
  label {
    margin: 0px 10px 0px;
  }
}
div.btn-group-justified {
  margin-left: 10px;
}

/* match page show style */

div.notes {
  span.content {
    margin-right: 10px;
  }
  span.timestamp {
    margin-left: 10px;
  }
  li {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
    &:last-child {
      display: none;
    }
  }
}

/* team page show style */
.team-pic {
  float: left;
  margin-right: 10px;
}
